@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif, helvetica;
}
 
h1 {
  font-family: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 64px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;

}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #000000;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}
  
/* Header */

#logo {
  letter-spacing: 15px;
  font-weight: 700;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0; 
}

#logo {
  text-decoration: none;
  color: #1a1a1a;
}

#logo:hover {
  color: deeppink;
}

#nav-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-bar li {
  list-style: none;
  padding: 0 30px;
  position: relative;
}

#nav-bar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.5 ease;
}

#nav-bar li a:hover,
#nav-bar li a.active {
  color:deeppink;
}

#nav-bar li a.active::after,
#nav-bar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: deeppink;
  position: absolute;
  bottom: -4px;
  left: 20px;
}


/* Home Page */ 

#hero {
  background-image: url("Images/img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;

}

#hero h1 {
  color: deeppink;
}

#hero button {
  background-image: url("Images/img/button.png");
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 0;
  padding: 14px 80px 14px 65px; 
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
/* Shop Page */
   
  